//  ================================================================================================
//  File Name: flex-box-spaces-style
//  Description: Custom style for margin ,gap , padding
//  ----------------------------------------------------------------------------------------------

// ** margin top
.mt_1 {
  margin-top: 1px;
}
.mt_2 {
  margin-top: 2px;
}
.mt_3 {
  margin-top: 3px;
}
.mt_4 {
  margin-top: 3px;
}
.mt_5 {
  margin-top: 5px;
}
.mt_7 {
  margin-top: 7px;
}
.mt_8 {
  margin-top: 7px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_12 {
  margin-top: 12px;
}
.mt_13 {
  margin-top: 13px;
}
.mt_14 {
  margin-top: 14px;
}
.mt_16 {
  margin-top: 16px;
}
.mt_18 {
  margin-top: 18px;
}
.mt_17 {
  margin-top: 17px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_23 {
  margin-top: 23px;
}
.mt_24 {
  margin-top: 24px;
}
.mt_29 {
  margin-top: 29px;
}
.mt_32 {
  margin-top: 32px;
}
.mt_33 {
  margin-top: 33px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_46 {
  margin-top: 46px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_76 {
  margin-top: 76px;
}
.mt_100 {
  margin-top: 100px;
}
.my_6rem {
  margin: 6rem 0rem;
}
// ** margin bottom
.mb_2 {
  margin-bottom: 2px;
}
.mb_5 {
  margin-bottom: 5px;
}
.mb_6 {
  margin-bottom: 6px;
}
.mb_17 {
  margin-bottom: 17px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_12 {
  margin-bottom: 12px;
}
.my_3px {
  margin-top: 3px;
  margin-bottom: 3px;
}

// ** margin left
.ml_8 {
  margin-left: 8px;
}
.ml_10 {
  margin-left: 10px;
}
.ml_11 {
  margin-left: 11px;
}
.ml_26 {
  margin-left: 26px;
}

// ** margin right minus
.mr_t_2 {
  margin-top: -2px;
}
.mr_n_12 {
  margin-right: -28px;
}

// ** padding
.p_1_4d {
  padding: 4px 4px 4px 10px;
}
.p_1_2d {
  padding: 10px 24px;
}
.p_2_2d {
  padding: 12px 27px;
}
.p_3_2d {
  padding: 16px 24px;
}
.p_4_2d {
  padding: 10px 12px;
}
.p_5_2d {
  padding: 28px 63px;
}
.p_6_2d {
  padding: 5px 5px;
}
.pb_10 {
  padding-bottom: 10px;
}
.py_5 {
  padding: 6px 6px !important;
}
.py_11 {
  padding: 11px 0px !important;
}
.px_20 {
  padding: 0px 20% !important;
}
// ** gap
.gap_2 {
  gap: 2px;
}
.gap_5 {
  gap: 5px;
}
.gap_6 {
  gap: 6px;
}
.gap_8 {
  gap: 8px;
}
.gap_9 {
  gap: 9px;
}
.gap_10 {
  gap: 10px;
}
.gap_11 {
  gap: 11px;
}
.gap_12 {
  gap: 12px;
}
.gap_13 {
  gap: 13px;
}
.gap_14 {
  gap: 14px;
}
.gap_15 {
  gap: 15px;
}
.gap_16 {
  gap: 16px;
}
.gap_17 {
  gap: 17px;
}
.gap_18 {
  gap: 18px;
}
.gap_20 {
  gap: 20px;
}
.gap_21 {
  gap: 21px;
}
.gap_24 {
  gap: 24px;
}
.gap_31 {
  gap: 21px;
}

// ** height
.h-100 {
  height: 100%;
}

// ** max-width
@for $i from 50 through 250 {
  .max-w-#{$i} {
    max-width: #{$i}px;
  }
}
// ** max-width in percent
.mw-90 {
  max-width: 90% !important;
}
.mw-75 {
  max-width: 75%;
}
// ** flex
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-row-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-row-justify-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-col-justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

// ** media query for extra small screen to centerd elements
@media only screen and (max-width: 578px) {
  .xs-flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .xs-flex-grow {
    display: flex;
    flex-wrap: wrap;
  }
  .xs-justify-center {
    justify-content: center !important;
  }
  // ** margin right
  .mr_xs_12 {
    margin-right: 12px;
  }
  // ** margin left
  .ml_xs_0 {
    margin-left: 0px !important;
  }
  // ** margin left
  .mt_xs_10 {
    margin-top: 20px !important;
  }
  // ** padding left
  .pl_xs_0 {
    padding-left: 0px !important;
  }
  .gap_xs_10 {
    gap: 10px !important
  }
}


@media only screen and (min-width: 579px) and (max-width: 768px) {
  .md-flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .md-flex-grow {
    display: flex;
    flex-wrap: wrap;
  }
  .md-justify-center {
    justify-content: center !important;
  }
  // ** margin right
  .mr_md_12 {
    margin-right: 12px;
  }
  // ** margin left
  .ml_md_0 {
    margin-left: 0px !important;
  }
  // ** margin left
  .mt_md_10 {
    margin-top: 20px !important;
  }
  // ** padding left
  .pl_md_0 {
    padding-left: 0px !important;
  }
  .gap_md_10 {
    gap: 10px !important
  }
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .lg-flex-rwo-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gap-lg-6 {
    gap: 6px;
  }
}

@media only screen and (min-width: 1441px) {
  .xl-flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .gap-xl-6 {
    gap: 6px;
  }
}